<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">-->
<!--<div class="content">-->
<!--  <div class="container">-->
<!--    <hr>-->
<!--    <div>-->
<!--      <button type="button" routerLink="/add-employee" routerLinkActive="active" class="btn btn-primary">Add Employee</button>-->
<!--    </div>-->



<!--    <div class="row" *ngFor="let employee of employees">-->
<!--        <div class="text-center card-box">-->
<!--          <div class="member-card pt-2 pb-2">-->
<!--            <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>-->
<!--            <div class="">-->
<!--              <h4>{{employee.name}}</h4>-->
<!--              <p class="text-muted">{{employee.jobTitle}} <span>| </span></p>-->
<!--            </div>-->
<!--            <ul class="social-links list-inline">-->
<!--              <li class="list-inline-item"><a title="" data-placement="top"  (click)="open(content)"  ><i class="fa fa-pencil"></i></a></li>-->
<!--              <li class="list-inline-item"><a title="" data-placement="top" ><i class="fa fa-trash"></i></a></li>-->
<!--            </ul>-->
<!--            <div class="mt-4">-->
<!--              <div class="row">-->
<!--                <div class="col-4">-->
<!--                  <div class="mt-3">-->
<!--                    <h6>{{employee.id}}</h6>-->
<!--                    <p class="mb-0 text-muted">ID</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-4">-->
<!--                  <div class="mt-3">-->
<!--                    <h6>{{employee.phone}}</h6>-->
<!--                    <p class="mb-0 text-muted">Phone</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-4">-->
<!--                  <div class="mt-3">-->
<!--                    <h6>{{employee.email}}</h6>-->
<!--                    <p class="mb-0 text-muted">Email</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  <!-- container -->
<!--</div>-->
<!--<hr>-->
<!--<hr>-->
<!--<hr>-->
<div>
  <br>
  <ng-container>
<button class="btn btn-lg btn-outline-primary"  (click)="open(content)">Add Emplloyee</button>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Employee</h4>
    <button type="button" class="close" id="add-employee-form" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <div class="input-group">
          <input id="name" class="form-control" placeholder="Name" formControlName="name"  type="text">
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <div class="input-group">
          <input id="phone" class="form-control" placeholder="Phone" formControlName="phone"  type="text">
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
          <input id="email" class="form-control" placeholder="Email" formControlName="email"  type="text">
        </div>
      </div>
      <div class="form-group">
        <label for="jobTitle">Job Title</label>
        <div class="input-group">
          <input id="jobTitle" class="form-control" placeholder="Job Title" formControlName="jobTitle"  type="text">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="save()"  class="btn btn-outline-dark" >Save</button>
  </div>
</ng-template>
  </ng-container>
</div>
<hr>
<h2>Employee List</h2>
<div >
  <table class="table table-bordered table-responsive-md table-sm md-small text-center">
  <tr class="md-bg-dark text-white">
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>jobTitle</th>
    <th>Action</th>
  </tr>
    <tr *ngFor=" let employee of employees">
      <td>{{employee.name}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.phone}}</td>
      <td>{{employee.jobTitle}}</td>
      <td>
        <a routerLink="/edit/{{employee.id}}"><i class="fa fa-edit" style="font-size:30px; color: red"></i></a>
      </td>

    </tr>
  </table>
</div>



<router-outlet></router-outlet>
