<hr>
<div>
  <h1>Edit Employee</h1>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="name">Name</label>
    <div class="input-group">
      <input id="name"  class="form-control" placeholder="Name" formControlName="name"  type="text">
    </div>
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <div class="input-group">
      <input id="phone"  class="form-control" placeholder="Phone" formControlName="phone"  type="text">
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <div class="input-group">
      <input id="email"  class="form-control" placeholder="Email" formControlName="email"  type="text">
    </div>
  </div>
  <div class="form-group">
    <label for="jobTitle">Job Title</label>
    <div class="input-group">
      <input id="jobTitle" class="form-control"  placeholder="Job Title" formControlName="jobTitle"  type="text">
    </div>
  </div>
</form>
  <div>
    <button (click)="save()"  class="btn btn-outline-dark" >Update</button>
  </div>
</div>
